@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.josefin-sans-font {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared style */

.display-flex {
  display: flex;
}

header {
  max-width: 1280px;
  margin: 5px auto;
}

main{
  max-width: 1280px;
  margin: 0 auto;
}

footer{
  max-width: 1280px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}

.primary-color {
  color: #e95a08;
}

.secondary-color {
  color: #a2b393;
}

.tertiary-color {
  color: rgba(0, 0, 0, 0.5);
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
}

.section-description {
  font-size: 1.2rem;
  margin-top: 16px;
}

.btn-primary {
  background-color: #e95a08;
  color: white;
  padding: 18px 80px;
  border: none;
  /* width: 100%; */
  font-size: 1rem;
}

/* Navbar style */

nav {
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.nav-items {
  gap: 15px;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
}

/* Hero Style */

.banner-container {
  margin-top: 120px;
  align-items: flex-end;
  justify-content: space-between;
}

.banner-items {
  width: 540px;
}

.banner-title {
  font-size: 4rem;
  line-height: 1.1;
  margin: 0;
}

.banner-description {
  font-size: 1.35rem;
}

/* Main Style */

.our-plants {
  text-align: center;
}

.our-plants-text{
  justify-items: center;
}

.our-plants-text p{
  text-wrap: wrap;
  max-width: 850px;
  width: 100%;
}

.flower-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center; 
}

.flower-card {
  margin-top: 50px;
  text-align: center;
  width: 100%;                           
}

.flower-card img {
  width: 100%;
  height: auto;
}


/* Flower Plant Section */

.flower-plant{
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.flower-plant ul li{
  font-weight: 300;
  margin-bottom: 20px;
  width: 100%;
}

.flower-store-img{
  position: relative;
}

.badge-img{
  height: 225px;
  width: 250px;
  position: absolute;
  margin-left: -120px;
  margin-top: -110px;
}


/* Latest Deals */

.latest-deals{
  text-align: center;
}

.latest-deals-text{
  justify-items: center;
}

.latest-deals-text p{
  text-wrap: wrap;
  max-width: 850px;
  width: 100%;
}

/* .latest-deals-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.latest-deal-vertical {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.latest-deal-vertical img {
  width: 380px;
  height: 190px;
  object-fit: cover;
  border-radius: 12px;
}

.latest-deal-horizontal img {
  width: 720px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.deal-vertical-item{
  position: relative;
}

.deal-text-vertical{
  position: absolute;
  top: 100px;
  left: 200px;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
}

.deal-text-vertical p{
  font-size: 1rem;
  font-weight: bold;
}

.deal-text-vertical h4{
  text-decoration: underline;
  font-weight: 300;
}

.deal-horizontal-item{
  position: relative;
}

.deal-text-horizontal{
  position: absolute;
  color: white;
  transform: translate(-50%, -50%);
  margin-left: 380px;
  margin-top: -200px;
}


.deal-text-horizontal p{
  font-size: 2rem;
  font-weight: bold;
}

.deal-text-horizontal h4{
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: 300;
}  */


.latest-deals-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 380px 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}

.deal-vertical-item img {
  width: 100%;
  height: 216px;
  object-fit: cover;
  border-radius: 12px;
}

.deal-horizontal-item img {
  width: 100%;
  height: 436px;
  object-fit: cover;
  border-radius: 12px;
}

.deal-vertical-item {
  position: relative;
}

.deal-horizontal-item {
  position: relative;
}

.deal-text-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.deal-text-vertical p {
  font-size: 1rem;
  font-weight: bold;
}

.deal-text-vertical h4 {
  font-size: 1rem;
  text-decoration: underline;
  font-weight: 300;
}

.deal-text-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.deal-text-horizontal p {
  font-size: 2.2rem;
  font-weight: bold;
}

.deal-text-horizontal h4 {
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: 300;
}

/* Join Us */

.join-us {
  position: relative;
  text-align: center;
}

.join-us img {
  width: 100%;
  display: block;
}

.join-us form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.join-us input[type="text"] {
  width: 400px;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.join-us input[type="submit"] {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}


/* Footer Section */

.footer-container{
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 110px;
  align-items: start; 
}

.footer-container .social-media{
  display: flex;
  align-items: center;
  gap: 25px;
}

.footer-container ul li{
  list-style: none;
  margin-bottom: 10px;
}

.footer-container ul li a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}



/* Media query */


@media screen and (max-width: 576px) {
  /* Shared Style */

  .btn-primary {
    padding: 10px 15px; 
    width: auto;        
  }

  main > section {
  margin-top: 40px;
 }

 body{
  width: 100%;
 }

  /* Navbar section */
  nav {
    justify-content: space-between;
    align-items: center;
  }

  .nav-items {
    display: none;
  }

  nav .fa-cart-shopping,
  nav span {
    font-size: 1rem;
  }

  /* Hero Section */

  .banner-container {
    flex-direction: column-reverse;
  }

  .banner-container img {
    width: 100%;
    height: auto;
  }

  .banner-items {
    width: 100%;
  }

  .banner-title {
    margin-top: 10px;
    font-size: 2.2rem;
  }

  .banner-description { 
    font-size: 1rem;
  }

  /* Our plants section */

  .section-title {
    margin-top: 10px;
    font-size: 1.8rem;
  }

  .section-description{
    font-size: 0.8rem;
  }

  .flower-cards{
    grid-template-columns: repeat(2,1fr);
    gap: 8px;
  }

  .flower-card {
    max-width: 170px;
    width: 100%;
  }

  .flower-card .btn-primary{
    font-size: 0.9rem;
    padding: 8px 12px;
  }

  /* Latest deal */

  .latest-deals-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  
  .deal-vertical-item img {
    height: 150px;
  }

  .deal-horizontal-item img {
    height: 150px;
  }

  .deal-text-horizontal p {
  font-size: 1rem;
  font-weight: bold;
}

.deal-text-horizontal h4 {
  font-size: 1rem;
  text-decoration: underline;
  font-weight: 300;
}
  
  /* Flower pant */

  .flower-plant{
    flex-direction: column;
  }

  .badge-img{
    visibility: hidden;
  }

  .flower-store-img{
    width: 100%;
  }

  .flower-plant ul li{
    width: 100%;
  }

  /* Join us section */

  .join-us input[type="text"] {
    width: 200px;
  }
  
  .join-us form {
    flex-direction: column;
    gap: 10px;
  }

  .join-us input[type="submit"] {
    width: 100%;
  }

  /* Footer section */

  .footer-container{
    margin-top: 60px;
    grid-template-columns: 1fr;
    margin-bottom: 0;
    gap: 10px;
    align-content: start;
  }

  .footer-container p{
    margin-bottom: 0;
  }

  .footer-container ul{
    padding-left: 0;
  }





}
